<div id="test1" pageflag="test1">
	<h1>
		<%= title %></h1>
	<p>
		<%= title %></p>
	<!-- <script type="text/javascript" src="/assets/bundle.js" charset="utf-8"></script>
-->
<ul data-bind="foreach: places">
	<li>
		<span data-bind="text: $data"></span>
		<button data-bind="click: $parent.removePlace">Remove</button>
	</li>
</ul>
</div>