/*reset-------------------------------------------------start*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
a{color: #888;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#f3f8fc;font-family: "Microsoft YaHei",Arial,"宋体",sans-serif;font-size: 14px;}
/*reset-------------------------------------------------end*/
/*common-------------------------------------------------start*/
.layout:after,
.wrap:after,
.hd:after,
.bd:after,
.ft:after,
.cf:after,
.header:after,
.footer:after,
.fn-clear:after{content:"";display:table;clear:both}
.layout,
.wrap,
.hd,
.bd,
.ft,
.cf,
.header,
.footer,
.fn-clear{*zoom:1}
.fl{float: left;display: inline;}
.ysf {font-size: 22px;font-weight: bold;margin: 10px;}
.fr{float: right;display: inline;}
.clearfix{*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;content: "";line-height: 0;}
.clearfix:after{clear: both;}
.undis{display:none!important;}
.posr{position:relative;*zoom:1;}
input[type=text],input[type=password]{padding:10px; border:solid 1px #d8d8d8; font-size:13px; color:#333; margin-right:10px; vertical-align:middle;}
a{text-decoration:none;color:#888}
a:hover{ text-decoration:underline;}
.clear{ font-size:0; line-height:0; height:0; clear:both;}
/*common-------------------------------------------------end*/
/*layout-------------------------------------------------start*/
.layout{width:1100px;margin:0px auto}
/*layout-------------------------------------------------end*/
/*dialog-------------------------------------------------start*/
table.aui_border,table.aui_dialog{border:0;margin:0;border-collapse:collapse;width:auto}
.aui_nw,.aui_n,.aui_ne,.aui_w,.aui_c,.aui_e,.aui_sw,.aui_s,.aui_se,.aui_header,.aui_tdIcon,.aui_main,.aui_footer{padding:0}
.aui_title{overflow:hidden;text-overflow:ellipsis}
.aui_state_noTitle .aui_title{display:none}
.aui_close{display:block;position:absolute;text-decoration:none;outline:0;_cursor:pointer}
.aui_close:hover{text-decoration:none}
.aui_main{min-width:9em;min-width:0\9}
.aui_content{display:inline-block;*zoom:1;*display:inline;text-align:left;border:none 0;line-height:24px}
.aui_content p{font-size:14px}
.aui_content.aui_state_full{display:block;width:100%;margin:0;padding:0!important;height:100%}
.aui_loading{width:96px;height:32px;text-align:left;text-indent:-999em;overflow:hidden;}
.aui_icon{vertical-align:middle}
.aui_icon div{width:48px;height:48px;margin:15px 0 10px 15px;background-position:center center;background-repeat:no-repeat}
.aui_buttons{padding:8px;text-align:right;white-space:nowrap;border-top:1px solid #ccc}
.aui_buttons button{margin-right:10px;cursor:pointer;text-align:center;padding:0 20px;height:30px;line-height:30px;color:#333;outline:0;background:#eee;font-weight:normal;border:0px solid #ccc;border-radius:5px;display:inline-block}
.aui_buttons a.aui_state_highlight{margin-right:15px;cursor:pointer;text-align:center;padding:0 20px;height:28px;line-height:28px;color:#fff;border:0;border-radius:5px;font-size:14px;/*background:url(../../images/common/button33_bg_hover.gif) repeat-x 0 0;*/display:inline-block;color:#fff}
.aui_buttons button:hover{background:#f1f1f1;color:#333}
.aui_buttons button::-moz-focus-inner{border:0;padding:0;margin:0}
.aui_buttons button.aui_state_highlight,.aui_buttons a.aui_state_highlight{background:#0061a7;color:#fff;display:inline-block}
.aui_buttons button.aui_state_highlight:hover,.aui_buttons a.aui_state_highlight:hover{background:#007dc1;display:inline-block;text-decoration:none}
.buttonAalignLeft{text-align:left;padding-left:20px}
.aui_dialog{background:#FFF}
.aui_outer{border:1px solid #999}
.aui_state_lock .aui_outer{box-shadow:0 0 10px rgba(0,0,0,.3)}
.aui_nw,.aui_ne{width:0;height:28px}
.aui_sw,.aui_se{width:0;height:0}
.aui_titleBar{width:100%;height:0;position:relative;*zoom:1;bottom:30px;_bottom:0;_margin-top:-30px}
.aui_title{height:30px;line-height:30px;padding:0 16px 0 10px;color:#333;font-weight:700;font-size:14px;/*background:url(../../images/dialog/tit_bg.gif) repeat-x top left #fff*/}
.aui_close{background:url(../../images/dialog/ico_close.gif) no-repeat;width:9px;height:9px;position:absolute;top:10px;right:10px;text-indent:-999em;overflow:hidden}
.aui_content{color:#333;font-size:14px}
.aui_state_noTitle .aui_nw,.aui_state_noTitle .aui_ne{height:5px}
.aui_state_noTitle .aui_titleBar{bottom:0;_bottom:0;_margin-top:0}
.aui_state_noTitle .aui_close{top:5px}
/*dialog-------------------------------------------------end*/
