<!-- 	
	<script type="text/javascript" src="/javascripts/lib/es5-shim.js" charset="utf-8"></script> -->
	<script type="text/javascript" src="/javascripts/lib/jquery/1.8.2/jquery.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/lib/knockout.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/bundle.js" charset="utf-8"></script>
</body>
</html>